[submodule "nvim/pack/plugs/start/goyo"]
	path = nvim/pack/plugs/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "nvim/pack/plugs/start/limelight"]
	path = nvim/pack/plugs/start/limelight
	url = https://github.com/junegunn/limelight.vim.git
